a {
   color: rgba(0, 0, 0, 0.87) !important;
}

th > a:hover {
   cursor: pointer !important;
}

td.marked {
   min-width: 15px;
   max-width: 15px;
   padding: 0px !important;
}

td.marked:hover {
   opacity: 0.8;
}

td.marked.orange {
    background: #FF9E39 !important;
}

td.marked.green {
    background: #62B9A4 !important;
}

td.marked.purple {
    background: #985DFF !important;
}

td.marked.yellow {
    background: #F2EF11 !important;
}

td.marked.black {
    background: #000000 !important;
}

td.marked.blue {
    background: #181887 !important;
}

td.marked.lightblue {
    background: lightblue !important;
}

tr.selected {
    background:rgba(0,0,0,.05) !important;
}

td.error {
    background: rgb(255, 246, 246) !important;
}

td {
   cursor: default;
   overflow: hidden;
   text-overflow: ellipsis;
}

td > a {
   overflow: hidden;
   text-overflow: ellipsis;
}

input {
   border: none;
   background: rgba(0, 0, 0, 0);
   outline: none;
   font-family: Lato !important;
   width: 100%;
}

tr:hover {
   background: rgba(0,0,0,.05) !important;
}

input[type=number]{
    width: 50px;
}

.headerWithButton {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width:100%;
}

.expanderCell {
   border-top: none !important;
   background: #F9FAFB !important;
}

.expanderCell:hover {
   cursor: pointer !important;
}
