.infoBox a {
  color: blue !important;
}

.infoBox a:visited {
  color: purple !important;
}

.infoBox {
  margin-top: 10px;
  font-size: 24pt !important;
}

th a {
  color: rgba(0, 0, 0, 0.87) !important;
}

th a:hover {
  cursor: pointer !important;
}

td.handle {
  padding: 0px !important;
}

td.handle:hover {
  cursor: pointer !important;
  opacity: 0.8;
}

td.handle > div > .icon {
  visibility: hidden;
}

td.handle:hover > div > .icon {
  visibility: visible;
}

td.handle > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  margin-left: 3px;
}

td.handle.orange {
  background: #ff9e39 !important;
}

td.handle.green {
  background: #62b9a4 !important;
}

td.handle.purple {
  background: #985dff !important;
}

td.handle.yellow {
  background: #f2ef11 !important;
}

td.handle.black {
  background: #000000 !important;
}

td.handle.blue {
  background: #181887 !important;
}

td.handle.lightblue {
  background: lightblue !important;
}

tr.selected {
  background: rgba(0, 0, 0, 0.05) !important;
}

td.error {
  background: rgb(255, 246, 246) !important;
}

td {
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
}

td > a {
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
  border: none;
  background: rgba(0, 0, 0, 0);
  outline: none;
  font-family: Lato !important;
  width: 100%;
}

tr:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}

input[type='number'] {
  width: 50px;
}

.headerWithButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.collapserCell {
  border-top: none !important;
  background: #f9fafb !important;
  color: #f9fafb !important;
  text-align: center !important;
}

.collapserCell:hover {
  cursor: pointer !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.expandedHeader {
  border-left: 1px solid #f3f3f3 !important;
}

.collapsedRetailerColumn {
  display: flex;
  flex-direction: row;
  height: 1000px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.collapsedRetailerColumn.retailerButton {
  width: 100% !important;
}

div.retailerButtonCellText {
  min-width: 102px;
  @include breakpoint(mobile-m) {
    width: 224px;
  }
}
div.retailerButtonCellIcon {
  font-size: 22px;
}

.storeIcons {
  height: 16px;
  margin-right: 2px;
  width: 16px;
}

.retailerButtonCellName {
  display: flex;
  align-items: center;
}

.retailerCell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.headerButton {
  margin-left: 20px !important;
  padding: 10px !important;
}

.ui.secondary.menu a.disabled:hover {
  color: rgba(40, 40, 40, 0.3) !important;
}

.ui.secondary.menu {
  margin-bottom: 0px !important;
}

.expandLabel {
  padding: 1px !important;
  cursor: pointer;
}

.expandLabel > i {
  margin: 2px !important;
  color: lightgrey;
}

.expandLabel:hover > i {
  color: grey;
}

table {
  font-size: 12px !important;
}

td {
  padding: 0px 0px 0px 2px !important;
  padding-right: 3px !important;
}

th {
  padding: 0px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
}

th > a {
  margin: 0px !important;
  padding: 0px !important;
}

td > a {
  margin: 0px !important;
  padding: 0px !important;
  padding-left: 3px !important;
  padding-top: 1px !important;
}

.tableScroller {
  overflow: scroll;
}

label.item:hover {
  background: rgba(0, 0, 0, 0.05) !important;
  cursor: pointer !important;
}

.headerButton {
  border: 0px !important;
  box-shadow: none !important;
  border-radius: 100px !important;
  margin: 2px !important;
  background: rgba(0, 0, 0, 0) !important;
}

.expandLabel {
  border: 0px !important;
  box-shadow: none !important;
  background: #f9fafb !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.expandLabel:hover {
  color: rgba(0, 0, 0, 1) !important;
}

tr.bomLine {
  height: 29px;
}

.searchCell {
  border-left: 0 !important;
}

.searchCellInner:hover > i.icon {
  color: rgba(0, 0, 0, 0.87) !important;
}

.searchCellInner {
  min-width: 25px !important;
  max-width: 25px !important;
  float: right;
  cursor: pointer !important;
  text-align: center !important;
}

.highlight.blue {
  background: #b1d3ed !important;
}

.highlight.red {
  background: #fbdada !important;
}

.highlight.grey {
  background: grey !important;
}

.nanobar {
  width: 100%;
  height: 4px;
  z-index: 10002;
  top:0
}
.bar {
  width: 0;
  height: 100%;
  transition: height .3s;
  background: #21BA45;
}
