a {
   color: black;
}

a:hover {
   color: black;
}

.imageContainer {
    display: flex;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    align-items: center;
}

a.imageCredit {
   font-size: 9px;
}

.image {
    align-self: center;
}
.topAreaContainer {
    display: flex;
    align-items: stretch;
}
.linkContainer {
   flex-grow: 1;
   display: flex;
   justify-content: flex-end;
   padding-right: 10px;
   align-items: flex-end;
   flex-direction: column;
}
.octopartLinkContainer {
   font-size: 10px;
   justify-content: flex-start;
   align-items: flex-start;
}

.titleContainer {
   display: flex;
   border-bottom: 1px solid #e8e8e9;
   justify-content: space-between;
   margin: 20px 20px 5px 20px;
}

.viewingNumber {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-bottom: 5px;
}

.mpnTitle {
   display: flex;
   justify-content: center;
   font-weight: bold;
}

.mpnTitle > div {
   margin: 5px;
}

.subTitle {
   display: flex;
   justify-content: center;
   font-weight: bold;
   font-size: 12px;
   margin-bottom: 20px;
}

.leftHandModule {
   margin-left: 20px;
   margin-right: 20px;
}

.expandButtonContainer {
   display: flex;
   justify-content: center;
}

.sorryText {
   max-width: 300px;
}

.topAreaInner {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.octopartLinkContainer {
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
}

.octopartLinkContainer a {
   font-size: 10px;
}

.rightHandModule {
   margin-left: 20px;
}

.description {
   font-size: 12px;
   max-width: 250px;
}

.datasheet {
   margin-top: 15px;
   display: flex;
   justify-content: center;
}

.specTable {
   width: 250px !important;
}

.smallField {
   font-size: 9px;
   line-height: 10px;
}

.alwaysBuyButton {
   border: 1px solid #2185d0 !important;
}

.alwaysBuyButton > div {
   color: #2185d0 !important
}
